/* MAIN LAYOUT & RESPONSIVENESS */

.container {
    display: flex;
    gap: 24px;
    width: 100%;
    min-height: 100vh;
    background-color: #f8fafc;
    padding: 24px;
    box-sizing: border-box;
    transition: flex-direction 0.3s ease;
}


.calendar{
    flex: 3.5;
}


/**-------------------------------------------
 Schedule Aside children (Custom styles)
 --------------------------------------------
**/

.taskActionsButtons{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: end;
}


.taskActionsButtons button{
    border: 0;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px 15px;
}

.taskActionsButtons .acceptBtn{
    color: white;
    background: #2563EB;
}

/* ---------------
 RESPONSIVE  
 -------------------*/

 /* Tablet -  Smaller Desktops */
@media (max-width: 1024px) {
    .container {
        gap: 16px;
        padding: 16px;
    }
    

}

/* Mobile Devices */
@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        height: auto;
    }

}