.container{
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.contextBox{
    gap: 5px;
    display: flex;
    max-width: 520px;
    flex-direction: column;
}

.contextBox .inputs{
    gap: 5px;
    display: flex;
    flex-direction: column;
}


.inputs .input{}


.contextBox .inlineInputs{
    gap: 5px;
    display: flex;
    align-items: center;
}

/** Drawer **/
.drawer{
    width: 100%;
    /* background: #000; */
}

.drawer .activate{
    color: black;
}


/** Skill inputs **/
.inputSkillsSection{
    display: flex;
    flex-direction: column;
}

.inputSkillsSection .inputSection{
    gap: 5px;
    display: flex;
}

.inputSkillsSection button{
    height: "100%";
    padding: 5px 10px;

    color: #64748B;
    background: #F1F5F9;
    
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.skills{
    gap: 5px;
    display: flex;
}


/** inline inputs (Salary section) **/
.contextBox .inlineInputs .separator{}


/**Editor **/
.editor{
    max-height: 200px;
}


/** Menu Drawer **/
.drawerTrigger{}