.container {
    flex-shrink: 0;
    
    /* On applique les variables calculées */
    width: var(--separator-width);
    height: var(--separator-height);
    
    background: var(--separator-color);
    margin: var(----separator-margin);
    border-radius: 999px;
}

