/**-------------------------------------------
 Schedule Aside children (Custom styles)
 --------------------------------------------
**/

.taskActionsButtons{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: end;
}


.taskActionsButtons button{
    border: 0;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px 15px;
}

.taskActionsButtons .acceptBtn{
    color: white;
    background: #2563EB;
}