-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: ats_recruitment
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account`
--

DROP TABLE IF EXISTS `account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account` (
  `id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `email` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb3_unicode_ci,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `account_role` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_7D3656A4E7927C74` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account`
--

LOCK TABLES `account` WRITE;
/*!40000 ALTER TABLE `account` DISABLE KEYS */;
/*!40000 ALTER TABLE `account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_supervision`
--

DROP TABLE IF EXISTS `account_supervision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_supervision` (
  `id` binary(16) NOT NULL COMMENT '(DC2Type:uuid)',
  `account_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_E185A4C39B6B5FBA` (`account_id`),
  CONSTRAINT `FK_E185A4C39B6B5FBA` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_supervision`
--

LOCK TABLES `account_supervision` WRITE;
/*!40000 ALTER TABLE `account_supervision` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_supervision` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `address`
--

DROP TABLE IF EXISTS `address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `address` (
  `id` int NOT NULL AUTO_INCREMENT,
  `street` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `postal_code` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `country` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `address`
--

LOCK TABLES `address` WRITE;
/*!40000 ALTER TABLE `address` DISABLE KEYS */;
INSERT INTO `address` VALUES (1,'France','32 rue st michelle','75200'),(2,'France','32 rue st michelle','75200'),(3,'France','32 rue st michelle','75200'),(5,'France','32 st Michelle','75002'),(6,'France','32 rue st michelle','75200'),(7,'France','32 rue st michelle','75002'),(8,'France','32 rue st michelle','75002'),(9,'France','32 rue st michelle','75002');
/*!40000 ALTER TABLE `address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_supervised_users`
--

DROP TABLE IF EXISTS `admin_supervised_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin_supervised_users` (
  `admin_supervision_entity_id` binary(16) NOT NULL COMMENT '(DC2Type:uuid)',
  `account_entity_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  PRIMARY KEY (`admin_supervision_entity_id`,`account_entity_id`),
  KEY `IDX_1A9E2C282C701E` (`admin_supervision_entity_id`),
  KEY `IDX_1A9E2C28A35FA506` (`account_entity_id`),
  CONSTRAINT `FK_1A9E2C282C701E` FOREIGN KEY (`admin_supervision_entity_id`) REFERENCES `account_supervision` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_1A9E2C28A35FA506` FOREIGN KEY (`account_entity_id`) REFERENCES `account` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_supervised_users`
--

LOCK TABLES `admin_supervised_users` WRITE;
/*!40000 ALTER TABLE `admin_supervised_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_supervised_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent`
--

DROP TABLE IF EXISTS `agent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agent` (
  `id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  PRIMARY KEY (`id`),
  CONSTRAINT `FK_268B9C9DBF396750` FOREIGN KEY (`id`) REFERENCES `account` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent`
--

LOCK TABLES `agent` WRITE;
/*!40000 ALTER TABLE `agent` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_assignment`
--

DROP TABLE IF EXISTS `agent_assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agent_assignment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `agent_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `entity_type` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `assigned_by` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `expired_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `assigned_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_418395B53414710B` (`agent_id`),
  CONSTRAINT `FK_418395B53414710B` FOREIGN KEY (`agent_id`) REFERENCES `agent` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_assignment`
--

LOCK TABLES `agent_assignment` WRITE;
/*!40000 ALTER TABLE `agent_assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `application`
--

DROP TABLE IF EXISTS `application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `application` (
  `id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `candidate_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `job_offer_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `applied_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_A45BDDC191BD8781` (`candidate_id`),
  KEY `IDX_A45BDDC13481D195` (`job_offer_id`),
  CONSTRAINT `FK_A45BDDC13481D195` FOREIGN KEY (`job_offer_id`) REFERENCES `job_offer` (`id`),
  CONSTRAINT `FK_A45BDDC191BD8781` FOREIGN KEY (`candidate_id`) REFERENCES `candidate` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `application`
--

LOCK TABLES `application` WRITE;
/*!40000 ALTER TABLE `application` DISABLE KEYS */;
/*!40000 ALTER TABLE `application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidate`
--

DROP TABLE IF EXISTS `candidate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `candidate` (
  `id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `image_id` int DEFAULT NULL,
  `cv_id` int DEFAULT NULL,
  `address_id` int DEFAULT NULL,
  `last_name` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `first_name` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `search_radius` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_C8B28E443DA5256D` (`image_id`),
  UNIQUE KEY `UNIQ_C8B28E44CFE419E2` (`cv_id`),
  UNIQUE KEY `UNIQ_C8B28E44F5B7AF75` (`address_id`),
  CONSTRAINT `FK_C8B28E443DA5256D` FOREIGN KEY (`image_id`) REFERENCES `file` (`id`),
  CONSTRAINT `FK_C8B28E44BF396750` FOREIGN KEY (`id`) REFERENCES `account` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_C8B28E44CFE419E2` FOREIGN KEY (`cv_id`) REFERENCES `file` (`id`),
  CONSTRAINT `FK_C8B28E44F5B7AF75` FOREIGN KEY (`address_id`) REFERENCES `address` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidate`
--

LOCK TABLES `candidate` WRITE;
/*!40000 ALTER TABLE `candidate` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `category`
--

DROP TABLE IF EXISTS `category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `category` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `category`
--

LOCK TABLES `category` WRITE;
/*!40000 ALTER TABLE `category` DISABLE KEYS */;
/*!40000 ALTER TABLE `category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) COLLATE utf8mb3_unicode_ci NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
INSERT INTO `doctrine_migration_versions` VALUES ('DoctrineMigrations\\Version20260531201042','2026-05-31 20:11:06',2),('DoctrineMigrations\\Version20260603002117','2026-06-03 00:21:27',34);
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file`
--

DROP TABLE IF EXISTS `file`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(250) COLLATE utf8mb3_unicode_ci NOT NULL,
  `mime` varchar(15) COLLATE utf8mb3_unicode_ci NOT NULL,
  `size` double NOT NULL,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `job_offer_image_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_8C9F3610D6A1C5CA` (`job_offer_image_id`),
  CONSTRAINT `FK_8C9F3610D6A1C5CA` FOREIGN KEY (`job_offer_image_id`) REFERENCES `job_offer_images` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file`
--

LOCK TABLES `file` WRITE;
/*!40000 ALTER TABLE `file` DISABLE KEYS */;
INSERT INTO `file` VALUES (5,'61a34d15-5ddc-41e9-9d17-4fca426e4b66.jpg','image/jpeg',7179,'2026-06-06 19:01:21',NULL),(6,'4a79abc6-f296-4362-a2ed-f8401ef74629.jpg','image/jpeg',372825,'2026-06-06 19:01:21',NULL);
/*!40000 ALTER TABLE `file` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `interview`
--

DROP TABLE IF EXISTS `interview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `interview` (
  `id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `candidate_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `job_offer_id` char(36) COLLATE utf8mb3_unicode_ci DEFAULT NULL COMMENT '(DC2Type:guid)',
  `start_date` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `minutes` int NOT NULL,
  `status` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_CF1D3C3491BD8781` (`candidate_id`),
  KEY `IDX_CF1D3C343481D195` (`job_offer_id`),
  CONSTRAINT `FK_CF1D3C343481D195` FOREIGN KEY (`job_offer_id`) REFERENCES `job_offer` (`id`),
  CONSTRAINT `FK_CF1D3C3491BD8781` FOREIGN KEY (`candidate_id`) REFERENCES `candidate` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `interview`
--

LOCK TABLES `interview` WRITE;
/*!40000 ALTER TABLE `interview` DISABLE KEYS */;
/*!40000 ALTER TABLE `interview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_category`
--

DROP TABLE IF EXISTS `job_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_category` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_id` int NOT NULL,
  `job_offer_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  PRIMARY KEY (`id`),
  KEY `IDX_610BBCBA12469DE2` (`category_id`),
  KEY `IDX_610BBCBA3481D195` (`job_offer_id`),
  CONSTRAINT `FK_610BBCBA12469DE2` FOREIGN KEY (`category_id`) REFERENCES `category` (`id`),
  CONSTRAINT `FK_610BBCBA3481D195` FOREIGN KEY (`job_offer_id`) REFERENCES `job_offer` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_category`
--

LOCK TABLES `job_category` WRITE;
/*!40000 ALTER TABLE `job_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_offer`
--

DROP TABLE IF EXISTS `job_offer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_offer` (
  `id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `user_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `title` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `content` json NOT NULL,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `status` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `updated_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_288A3A4EA76ED395` (`user_id`),
  CONSTRAINT `FK_288A3A4EA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_offer`
--

LOCK TABLES `job_offer` WRITE;
/*!40000 ALTER TABLE `job_offer` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_offer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_offer_images`
--

DROP TABLE IF EXISTS `job_offer_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_offer_images` (
  `id` int NOT NULL AUTO_INCREMENT,
  `job_offer_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `file_id` int NOT NULL,
  `is_main` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_36295CE493CB796C` (`file_id`),
  KEY `IDX_36295CE43481D195` (`job_offer_id`),
  CONSTRAINT `FK_36295CE43481D195` FOREIGN KEY (`job_offer_id`) REFERENCES `job_offer` (`id`),
  CONSTRAINT `FK_36295CE493CB796C` FOREIGN KEY (`file_id`) REFERENCES `file` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_offer_images`
--

LOCK TABLES `job_offer_images` WRITE;
/*!40000 ALTER TABLE `job_offer_images` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_offer_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_verification`
--

DROP TABLE IF EXISTS `otp_verification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp_verification` (
  `id` binary(16) NOT NULL COMMENT '(DC2Type:uuid)',
  `account_id` char(36) COLLATE utf8mb3_unicode_ci DEFAULT NULL COMMENT '(DC2Type:guid)',
  `email` varchar(255) COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `attempts` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_32814C429B6B5FBA` (`account_id`),
  CONSTRAINT `FK_32814C429B6B5FBA` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`),
  CONSTRAINT `FK_32814C42BF396750` FOREIGN KEY (`id`) REFERENCES `verification_token` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_verification`
--

LOCK TABLES `otp_verification` WRITE;
/*!40000 ALTER TABLE `otp_verification` DISABLE KEYS */;
INSERT INTO `otp_verification` VALUES (_binary '××Ocv\´ø\ÛEJ)\0Ð╣',NULL,'angepaterne.dali@gmail.com',0),(_binary '×¿&³t\­ÄSïT╩Âì@','f99ed48a-7b1e-48e9-a1d8-58a52c372f41','angepaterne.dali@gmail.com',1),(_binary '×¿)H|ûäS╩╝Z\ÊS','f99ed48a-7b1e-48e9-a1d8-58a52c372f41','angepaterne.dali@gmail.com',0);
/*!40000 ALTER TABLE `otp_verification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_57698A6A5E237E06` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `video_presentation_id` int DEFAULT NULL,
  `name` varchar(150) COLLATE utf8mb3_unicode_ci NOT NULL,
  `siret` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `logo_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_8D93D64946FC2FE1` (`video_presentation_id`),
  UNIQUE KEY `UNIQ_8D93D649F98F144A` (`logo_id`),
  CONSTRAINT `FK_8D93D64946FC2FE1` FOREIGN KEY (`video_presentation_id`) REFERENCES `file` (`id`),
  CONSTRAINT `FK_8D93D649BF396750` FOREIGN KEY (`id`) REFERENCES `account` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_8D93D649F98F144A` FOREIGN KEY (`logo_id`) REFERENCES `file` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES ('f99ed48a-7b1e-48e9-a1d8-58a52c372f41',NULL,'Nexus Game','73282932000074',5);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_address`
--

DROP TABLE IF EXISTS `user_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_address` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  `address_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_5543718BA76ED395` (`user_id`),
  UNIQUE KEY `UNIQ_5543718BF5B7AF75` (`address_id`),
  CONSTRAINT `FK_5543718BA76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FK_5543718BF5B7AF75` FOREIGN KEY (`address_id`) REFERENCES `address` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_address`
--

LOCK TABLES `user_address` WRITE;
/*!40000 ALTER TABLE `user_address` DISABLE KEYS */;
INSERT INTO `user_address` VALUES (9,'f99ed48a-7b1e-48e9-a1d8-58a52c372f41',9);
/*!40000 ALTER TABLE `user_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_image`
--

DROP TABLE IF EXISTS `user_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_image` (
  `id` int NOT NULL AUTO_INCREMENT,
  `image_id` int NOT NULL,
  `user_id` char(36) COLLATE utf8mb3_unicode_ci NOT NULL COMMENT '(DC2Type:guid)',
  PRIMARY KEY (`id`),
  KEY `IDX_27FFFF073DA5256D` (`image_id`),
  KEY `IDX_27FFFF07A76ED395` (`user_id`),
  CONSTRAINT `FK_27FFFF073DA5256D` FOREIGN KEY (`image_id`) REFERENCES `file` (`id`),
  CONSTRAINT `FK_27FFFF07A76ED395` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_image`
--

LOCK TABLES `user_image` WRITE;
/*!40000 ALTER TABLE `user_image` DISABLE KEYS */;
INSERT INTO `user_image` VALUES (4,6,'f99ed48a-7b1e-48e9-a1d8-58a52c372f41');
/*!40000 ALTER TABLE `user_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verification_token`
--

DROP TABLE IF EXISTS `verification_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verification_token` (
  `id` binary(16) NOT NULL COMMENT '(DC2Type:uuid)',
  `code_hash` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `purpose` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `dtype` varchar(255) COLLATE utf8mb3_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verification_token`
--

LOCK TABLES `verification_token` WRITE;
/*!40000 ALTER TABLE `verification_token` DISABLE KEYS */;
INSERT INTO `verification_token` VALUES (_binary '××Ocv\´ø\ÛEJ)\0Ð╣','$2y$12$fmC11OzQeKvovpp3q.PqSeUi4ctXpUZ/gzylySvPPKe7iyjOpvnh.','SIGNUP','2026-06-06 19:15:45','2026-06-06 19:00:45','otpverificationtokenentity'),(_binary '×¿&³t\­ÄSïT╩Âì@','$2y$12$wTN2C3QXkx8J2F47orJ1uuEjBSXEIP6MK6I8qQL6x1/jdLocMbTr6','PASSWORD_RESET','2026-06-08 16:46:17','2026-06-08 16:41:17','otpverificationtokenentity'),(_binary '×¿)H|ûäS╩╝Z\ÊS','$2y$12$6.SE7.BL2flH/QD/Eb6XoO19pQEbeUcZo9NIQtQ5ZdMRjNDP2JLNe','PASSWORD_RESET','2026-06-08 17:00:38','2026-06-08 16:55:38','otpverificationtokenentity');
/*!40000 ALTER TABLE `verification_token` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-10 19:51:45
