/* CONTAINER & CARDS */

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    width: 280px;
}

/* CONTENT BLOCKS & INPUT LAYOUTS*/

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 12px;   
}

.checkboxSection {
    gap: 14px;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/** LANGUAGE DRAWER **/
.languageDrawer .result{
    gap: 5px;
    width: 100%;
    margin-top: 7px;
    
    display: flex;
    flex-wrap: wrap;
}


/*JOB OVERVIEW SECTION */

.overview {
    min-height: 120px;
}

.overview .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.overview .details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* TAGS & STATUS INDICATORS */

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.pubStatus {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding-left: 14px;
    position: relative;
    font-size: 0.815rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--pubColor);
}

.pubStatus::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: var(--pubColor);
}

/* SKILLS & PILLS WRAPPER */

.pill {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}



/* BUTTONS */
.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 8px;
}

.complete {
    background-color: #2563eb;
    color: #ffffff;
}

.buttons .complete:hover {
    background-color: #1d4ed8;
}

.buttons .complete:active {
    background-color: #1e40af;
}