@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sekuya&display=swap');



*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  
  background:
      linear-gradient(
          135deg,
          #f7f8fc,
          #eef2ff
  );
}

a{
    color: #2563eb;

    text-decoration: none;

    transition:
        opacity .2s ease,
        transform .2s ease;
}

/** Global link styles **/
a:hover{
    opacity: .75;
    transform: translateY(-1px);
}

.faint-border{
  border: 1px solid #e2e8f0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.faint-txt{
  color: gray;
}

/** Toogle visibility **/

.hidden {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
    overflow: hidden;
    pointer-events: none;
}

.visible {
    opacity: 1;
    max-height: 40px; 
    margin-top: 5px;
}


.boldSecondaryTxt{
  font-size: 20px;
  font-weight: 500;
}

/** App Container **/
.app-container{
  display: flex;
  background: #f8fafc;
}

.app-container .app-view{
  padding: 18px 25px;
  width: 100%;
  /* background: red; */
}

/** NavBar **/
.nav-bar{}

/** Main **/
main{
  padding: 24px;
}


/** Scrollbar **/
.scrollbar::-webkit-scrollbar {
    height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/** Input **/
.input {
  border-radius: 12px;
  background: #e5e7eb;
  box-sizing: border-box;
  border: 1px solid #cbd5e1; 
}

.input:hover {
  background: #d1d5db;
  border-color: #94a3b8;
}


/** Card style **/
.card{
  background: #FFF;
  padding: 14px 16px;

  border-radius: 16px;
  border: 1px solid #E5E7EB;
}

/* fade bottom */
.fadeBottom {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(transparent, white);
}
