.container {
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    flex-wrap: wrap;
}

.item{
    width: 425px;
    border: 1px solid #E5E7EB;
}